{% extends "base.html" %}

{% block title %}Контакты | Clothing Store{% endblock %}

{% block content %}

{% load static %}
<!-- CONTACT -->
<div class="container contactct">
  <div class="row rowcn">
    <div class="col form-container cnform">
      <h1>Связь с нами</h1>
      <p>Как мы можем помочь?</p>
      <form method="post">
        {% csrf_token %}
        <div class="d-flex">
          <div class="mb-3 namegg">
            <label for="name" class="form-label">Имя</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              placeholder="Имя"
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Почта</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="Почта"
            />
          </div>
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Номер телефона</label>
          <input
            type="text"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="+7 999 999 99 99"
          />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Ваше обращение</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            rows="3"
            placeholder="Сообщение"
          ></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Отправить</button>
      </form>
    </div>
    <div class="col image-container image-containercn">
      <img src="{% static 'main/img/Contact.jpg' %}" alt="Contact Image" />
    </div>
  </div>
</div>
<!-- CONTACT -->


{% endblock %}
