{% extends "base.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="col-md-6 shadow-lg p-5 rounded" style="background-color: #f8f9fa; border: 1px solid #eaeaea;">
    <h2 class="mb-4 text-center" style="font-family: 'Kavoon', cursive; color: #8e7054;">Письмо отправлено</h2>
    <p style="font-family: 'Nunito', sans-serif;">
      Мы отправили вам инструкции по сбросу пароля на указанный email.
      Если вы не получили письмо, проверьте папку "Спам" или правильность введенного email.
    </p>
  </div>
</div>
{% endblock %}